.reddot {
    height: 25px;
    width: 25px;
    background-color: rgb(158, 0, 0);
    border-radius: 50%;
    display: inline-block;
  }
  .greendot{
    height: 25px;
    width: 25px;
    background-color: rgb(0, 182, 9);
    border-radius: 50%;
    display: inline-block;
  }